.slides{
}

.scan-img{
	
	height: 70px!important;
    position: absolute!important;
    top: 580px!important;
    left: 570px!important;
}

.titulo {
	position: absolute!important;
	top: 200px!important;
    left: 280px!important;
    font-family: ExoSlabProExtraBold!important;
    font-size: 66pt!important;
    color: rgb(255,255,255)!important;
    text-transform: none!important;
}

.titulo2 {
	position: absolute!important;
	top: 300px!important;
    left: 550px!important;
    font-family: TheMixB-W8ExtraBold!important;
    font-size: 26pt!important;
    color: rgb(255,255,255)!important;
    text-transform: none!important;
}


.titulo3 {
	position: absolute!important;
	top: 650px!important;
    left: 500px!important;
    font-family: TheMixB-W8ExtraBold!important;
    font-size: 15pt!important;
    color: rgb(255,255,255)!important;
    text-transform: none!important;
}


.btn-pasar {
	position: absolute!important;
	top: 600px!important;
	left: 500px!important;
	height: 302px!important;
	width: 283px!important;
	-webkit-border-radius: 0!important;
	-moz-border-radius: 0!important;
	border-radius: 1px!important;
	padding: 10px 50px 10px 50px!important;
	background: url('../assets/cruz1.png') no-repeat!important;
}

.btn-pasar:hover {
	background: url('../assets/cruz2.png') no-repeat!important;

}

.globo{
    position: absolute!important;
    top: 60px!important;
    left:380px!important;
}

.globo-img{
    position: relative!important;
    left: 40px!important;
    max-height: 500px!important;
    max-width: 90!important;
    z-index: 1!important;
}
.monito{
    position: relative!important;
    left: -170px!important;
    max-height: 120px!important;
    max-width: 30!important;
    z-index: 0!important;
}

.tocar {
  position: absolute!important;
  top: 450px!important;
  left: 450px!important;
  height: 300px!important;
  width: 300px!important;
  -webkit-border-radius: 0!important;
  -moz-border-radius: 0!important;
  border-radius: 1px!important;
  padding: 10px 50px 10px 50px!important;
}

.globo-text {
	position: relative!important;
  top: 100px!important;
  font-family: TheMixB-W8ExtraBold!important;
  font-size: 30pt!important;
    color: rgb(255,255,255)!important;
    text-transform: none!important;
    z-index: 2!important;
}

.mirar {
  position: absolute!important;
  left: 400px!important;
  top: 300px!important;
    font-family: TheMixB-W8ExtraBold!important;
    font-size: 36pt!important;
    color: rgb(6,75,99)!important;
    text-transform: none!important;
    display: none;
}

.mirar-sim{
    position: absolute!important;
    top: 260px!important;
    left: 550px!important;
    max-height: 120px!important;
    max-width: 30!important;
    z-index: 0!important;
    display: none;
}
.globo-abajo {
	position: absolute!important;
  left: 230px!important;
	top: 670px!important;
    font-family: TheMixB-W8ExtraBold!important;
    font-size: 20pt!important;
    color: rgb(6,75,99)!important;
    text-transform: none!important;
}






@font-face{
   font-family:"CalcitePro-Black";
   src:url(../fonts/CalcitePro-Black.otf) format("opentype");
}


@font-face{
   font-family:"ExoSlabProExtraBold";
   src:url(../fonts/ExoSlabProExtraBold.otf) format("opentype");
}


@font-face{
   font-family:"TheMixB-W6SemiBold";
   src:url(../fonts/TheMixB-W6SemiBold.otf) format("opentype");
}


@font-face{
   font-family:"TheMixB-W7Bold";
   src:url(../fonts/TheMixB-W7Bold.otf) format("opentype");
}


@font-face{
   font-family:"TheMixB-W8ExtraBold";
   src:url(../fonts/TheMixB-W8ExtraBold.otf) format("opentype");
}


@font-face{
   font-family:"TheMixB-W9Black";
   src:url(../fonts/TheMixB-W9Black.otf) format("opentype");
}
